@charset "UTF-8";

/* - Oque é id em HTML vira # em CSS ( só pode um elemento )
   - Oque é class em HTML vira . em CSS( pode varios elementos )
*/

body{
    background-color: rgb(159, 250, 220);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(3, 83, 56);
}

h1#principal{
    text-align: center;
    color: rgb(159, 250, 220);
    background-color: rgb(14, 85, 20);
}

h2{
    color: rgb(3, 83, 66);
}

.basico{
    color: brown;
}

.intermediario{
    color: cadetblue;
}

.avançado{
    color: chartreuse;
}
